/* #region Footer */
.footer {
	background-color: var(--color-primary);
	/* color: #fff; */
	padding: 60px 0 20px;
}

.footer-content {
	display: grid;
	grid-template-columns: var(--grid-auto-250);
	gap: 40px;
	margin-bottom: 40px;
}

.footer-section h3,
.footer-section h4 {
	font-family: var(--font-title);
	color: var(--color-primary);
	margin-bottom: 20px;
}

.footer-section p,
.footer-section li {
	color: #ccc;
	line-height: 1.6;
	margin-bottom: 10px;
}

.footer-section ul {
	list-style: none;
}

.footer-section a {
	color: #ccc;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-section a:hover {
	color: var(--color-primary);
}

.footer-section p i {
	margin-right: 2px;
	width: 20px;
}

.social-links {
	display: flex;
	gap: 15px;
	margin-top: 20px;
}

.social-links a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.social-links a i {
	color: #1a365d;
	font-size: 18px;
}

.social-links a:hover {
	background-color: var(--color-primary);
	transform: translateY(-2px);
}

.social-links a:hover i {
	color: #ffffff;
}

.footer-bottom {
	border-top: 1px solid var(--color-secondary);
	padding-top: 20px;
	text-align: center;
	color: #999;
}
/* #endregion */
